body {
  background-image: url(../image/background.png);
  font-family: 'Arima Madurai';
  min-width: 1000px;
}
h1 {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 4px;
}
h2 {
  margin-left: 20%;
  color: white;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
label {
  color: white;
}
th {
  font-weight: 900;
}
.menu {
  background-image: url(../image/vinyl.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 170px;
  display: flex;
  justify-content: center;
}
.menu li {
  margin: 7px;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.liste {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.pagination {
  float: right;
  margin-right: 12%;
  margin-top: 15px;
}
.pagination a {
  color: white;
}
.pagination li {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}
.pagination a:hover {
  color: grey;
}
.btn-group {
  margin-left: 10%;
  margin-bottom: 4px;
}
#search {
  float: right;
  margin-right: 10%;
  margin-top: 30px;
}
#konami {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: auto;
}
